<div class="content">
  <div class="box">
    <% if logged_in? %>
      <h1>Hello <%= @current_user.name %>!</h1>
      <br>
      <h3>Welcome to this Eventbrite-like site, made by <strong>@massimo</strong>.
      <br> Thx so much to <strong>@bab</strong> for helping !
      <br> <strong>#TeamBDX</strong> </h3>
    <% else %>
      <br><br><br><br><br><br>
      <h4 class="btn btn-danger">Connexion requise pour aller sur ce site.</h4>
    <% end %>
  </div>
  <div class="bdx">
    <img src="https://image.noelshack.com/fichiers/2018/18/4/1525373439-thp-bdx.png" alt="logo thp bdx" class="logo"/>
    </div>
</div>
