<div class="content">
  <div class="inside">
    <h1>Hello <%= @user.name %></h1>
  </div>
  <div class="inside">
    <h3>Voici ta page.</h3>
    <h5>Que souhaites-tu faire ici :</h5>

    <ul>
      <li><a href="#">Créer un nouvel évènement !</a></li>
    </ul>
  </div>
</div>
